.site-name{
    color: white;
    text-decoration: none;
    font-size: 30px;
    
}
.site-name:focus, .site-name:hover{
    color: rgb(246,82,10);
    
}

.navigation{
    background-color: #273044;
    color: #ffffff;
    padding: 20px 0;
    font-size: 20px;
}

.navigation button{
    color: white;
    border: 1px solid white;
}
.route {
    color: white;
    text-decoration: none;
    margin-left:40px ;
    

}
.route:focus, .route:hover{
    color: rgb(246,82,10);
    
}
.route:focus{
    text-decoration: underline;
    
}